*{
    margin: 0;
    padding: 0;
    background: #F1F1F1
}

main{
    max-width: 100%;
    font-family: 'DM Sans', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100px;

    padding: 25px 0px;
    background-color: #FFF;
}

.azul{
    color: #1E0E62;
}

.title__nav{
    font-size: 24px;
    cursor: pointer;

    margin-right: auto;
    padding-left: 110px;
}

.email__nav{
    font-size: 16px;
    display: inline-block;

    border: 1px solid #1E0E62;
    border-radius: 100px;

    width: 100px;
    height: 30px;

    text-align: center;
    padding-top: 9px;

    text-decoration: none;
    margin-right: 226px;
}

.title__experiencia{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;

    font-size: 22px;
    line-height: 32px;
}

.banner{
    width: 100%;
    height: 65vh;
    background-color: #F1F1F1;
}

.top__banner{
    margin-left: 110px;
    width: 90%;
    display: flex;
}

.photo__banner{
    width: 667px;
    height: 412px;
    border-radius: 10px;
    margin-right: 184px;
}

.description__top{
    margin-top: 15px;
    width: 78%;
}

.title__banner{
    font-size: 43px;
    font-weight: 700;
    padding-bottom: 46px;
}

.description__banner{
    font-size: 20px;
    font-weight: 400;
    width: 35%;
    color: rgba(21, 20, 57, 0.4);
}

.habilidades{
    width: 100%;
    height: 51vh;
    
    margin-top: 20px;
    background-color: #F1F1F1;
}

.title__habilidades{
    text-align: center;
    font-weight: 700;
    font-size: 42px;
}

.text__habilidades{
    text-align: center;
    font-weight: 500;

    font-size: 22px;
    line-height: 32px;

    color: rgba(21, 20, 57, 0.4);
    width: 50%;

    padding-top: 35px;
    margin: 0 auto;
}

.cards__habilidades{
    margin: 62px auto;
    width: 50%;
    display: flex;
}

.card_habilidad{
    width: 310px;
    margin-right: 75px;
    text-align: center;
}

.title_habilidad{
    font-size: 22px;
    font-weight: 500;

    line-height: 28px;
    padding-bottom: 20px;
}

.description__habilidad{
    color: rgba(21, 20, 57, 0.4);
    font-size: 17px;
    line-height: 26px;
}

.container__experiencia{
    width: 100%;
    height: 100vh;

    margin-top: 10px;
    background-color: #F1F1F1;
}

.principal__experiencia{
    text-align: center;
    font-size: 42px;

    font-weight: 700;
    line-height: 52px;
    padding-bottom: 35px;
}

.descripcion__experiencia{
    text-align: center;
    width: 50%;

    margin:0 auto;
    font-size: 22px;

    color: rgba(21, 20, 57, 0.4);
    font-weight: 500;
    line-height: 32px;
}

.btn__experiencia{
    display: block;
    flex-wrap: wrap;
    margin: 25px auto;

    border-radius: 100px;
    background-color: #25DAC5;

    color: #FFF;
    font-size: 18px;

    font-weight: 500;
    line-height: 26px;

    text-align: center;
    text-decoration: none;

    width: 200px;
    height: 25px;

    padding: 10px 13px;
    margin-top: 55px;
}

.gallery__experiencia{
    width: 90%;
    height: 100vh;

    background-color: #F1F1F1;
    margin-top: 45px;

    display: flex;
    flex-wrap: wrap;
    margin: 85px 25px 20px 100px;
}

.img__experiencia{
    width: 370px;
    height: 240px;
    border-radius: 10px;
}

.card__experiencia{
    width: 380px;
    margin-right: 45px;
}

.title__experiencia{
    font-size: 22px;
    font-weight: 500;
    
    padding-top: 15px;
    padding-bottom: 12px;

    line-height: 32px;
    text-align: left;
}

.description__gallery{
    width: 90%;
    font-size: 16px;

    font-weight: 400;
    line-height: 26px;
    color:rgba(21, 20, 57, 0.4);
}

.contacto{
    width: 100%;
    height: 25vh;

    display: block;
    text-align: center;

    margin: 450px 0 0 0;
    background: #F1F1F1;
}

.contacto__title{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
}

.special__text{
    color: #482be7;
    font-weight: 700;

    cursor: pointer;

    font-size: 58px;
    line-height: 70px;
}

.icons__footer{
    width: 100%;
    margin: 35px auto;
    text-align: center;
}

.icon__foo{
    color: #9999A7;
    font-size: 27px;

    padding-right: 45px;
    cursor: pointer;
    transition: color 500ms;
}

#instagram__icon:hover{
    animation-timing-function: ease;
    animation-duration: .5;
    color: rgb(225,48,108);
}

#linkedin__icon:hover{
    animation-timing-function: ease;
    animation-duration: .5;
    color: #0e76a8;
}

#github__icon:hover{
    animation-timing-function: ease;
    animation-duration: .5;
    color: #171515;
}


@media screen and (max-width: 1608px){
    
    .habilidades{
        margin: 110px 100px 310px 0;
    }

    .container__experiencia{
        margin: 200px 100px 0 0;
    }
    
    .contacto{
        margin: 750px 0 0 0;
        height: 50vh;
    }
}